<!doctype html>
<html>
    <title>
        ISS Position Calculator
    </title>
    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>

       <div class="container">
        <div id='heading' class="jumbotron">
            <h1>Simple Web App to calculate ISS Position</h1>
        </div>

        <div class="bs-example">
            <form class="form-horizontal" action="http://localhost:5000/result" method="POST">
                <div class="form-group">
                    <label for="Latitude" class="control-label col-xs-2">Latitude</label>
                    <div class="col-xs-10">
                        <input type="number" class="form-control" min="-90" max="90" step=".0000001" name="inputLatitude" placeholder="Latitude" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Longitude" class="control-label col-xs-2">Longitude</label>
                    <div class="col-xs-10">
                        <input type="number" class="form-control" min="-180" max="180" step=".0000001" name="inputLongitude" placeholder="Longitude" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <button type="submit" class="btn btn-primary">Get Position</button>
                    </div>
                </div>
            </form>

            <div>
                {%if res %}
                <h3>Your current distance from the ISS is {{res}} km.   <br></h3>
                {%endif%}
            </div>
                <br><br>Contribute to this project on <a href="https://github.com/kat47/ISS-Positon-Calculator-WebApp" target="_blank">Github</a> 
        </div>

    </body>
</html>
